/* src/App.css */
.logo {
	height: 40px;
	margin: 20px;
  }
  
  .home-card {
	padding: 20px;
  }
  
.filter-controls {
  display: flex;
  justify-content: center; 
  margin-bottom: 20px;
  background-color: black;
  padding: 10px; 
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto; 
}

.user-table-container {
  display: flex;
  justify-content: center; 
  width: 100%;
}

  
  .user-table th, .user-table td {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
  
  
  .user-table tr:hover {
	background-color: #ddd;
  }
  
  .user-table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: black;
	color: white;
  }
  .user-table td {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	color: black;
  }
  
  .highlight {
	background-color: skyblue;
  }
  